.tables
{
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
	border: 1px #CBCBCB solid;
}

.clear
{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

td.showDragHandle {
	background-image: url('../images/move.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}